* {
    margin:0;
    padding:0;
}

#grid {
    display:block;
    margin:auto;
    margin-top:1%;
}

.gridCell {
    display: block;
    float: left;
    outline: 1px solid #303030;
}

.gridCell:hover {
    background-color: #ccc;
}

button {
    display:block;
    margin:auto;
    margin-top:1em;
    font-size:1em;
    padding:1em;
}

.clear {
    clear: both;
}

#liveCellCounter {
    float:left;
}